<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#">XXXXX</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown" style="display: none"> 
<ul class="navbar-nav" style="display: none">
<li class="nav-item active">
<a class="nav-link"  href="#">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link"   href="#">News</a>
</li>
<li class="nav-item">
<a class="nav-link" action="/shop" href="/shop"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shop</a>
</li>

<li >
  <form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</li>



</ul>
</div>

<ul class="navbar-nav justify-content-end">  
    <li class="nav-item">
        <a class="nav-link" href="/users/login"> Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/signup"> Signup</a>
    </li>

</ul>









</nav>