<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Admin Login</h1>
        <p style="color: red;">{{{error}}}</p>
        <form action="/users/admin/login" method="post">
            <div class="form-group">

                <label for="email">Admin name</label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-danger">Admin Login</button>
        </form>

    </div>
</div>