<body>

    <section class="'hero">
        <div class='container'>
            <img src="/images/bitword.png" class='main-body' id='main-logo'></img>

            <div class='left-col' style='text-align: center;'>
                <p>
                <h1 style=" -ms-transform: translateY(-50%); transform: translateY(-50%);">Welcome to BitWorld!</h1>
                <div class="main-body" style='text-align: center;'>
                    <ul>
                        <li>
                            <button
                                style='background-color: slateblue; color:aliceblue; padding: 15px 32px; text-align:center; font-size:large; border-radius: 12px; transition-duration: 0.4s; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);'>
                                <a href="users/signup" class="primary" style="color:aliceblue">Sign Up Now</a>
                            </button>
                        </li>
                        <li>
                            <a>Already have an account? </a>
                        </li>
                        <li>
                            <button
                                style='background-color: slateblue; color:aliceblue; padding: 15px 32px; text-align:center; font-size: medium; border-radius: 12px; transition-duration: 0.4s; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);'>
                                <a href="users/login" class="primary" style="color:aliceblue">Log In</a>
                            </button>
                        </li>
                    </ul>
                </div>
                </p>
            </div>
        </div>
    </section>

</body>